.file-container {
  display: flex;
  column-gap: 16px;
  row-gap: 16px;
}

.fileinput-plus {
  width: 200px;
  height: 200px;
  border: 2px #dbdbdb dashed;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 4px #7a83af dashed;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 75px;
    color: #7a83af;
  }
}
