.fileinput {
  position: relative;

  .fileinput-new {
    width: 200px;
    height: 200px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .fileinput-actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    justify-content: center;
  }
}
