<ges-cars-container>
    <ges-cars-card [title]="getTitle" icon="person" classes="col-md-8">
        <form [formGroup]="clientForm">
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-field-text label="Nom" [control]="form['firstname']"></ges-cars-field-text>
                </div>
                <div class="col-md-6">
                    <ges-cars-field-text label="Prenom" [control]="form['lastname']"></ges-cars-field-text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-field-text label="Adresse" [control]="form['adresse']"></ges-cars-field-text>
                </div>
                <div class="col-md-6">
                    <ges-cars-field-text label="telephone" [control]="form['telephone']"></ges-cars-field-text>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <ges-cars-datepicker-field label="Date Naissance" [control]="form['birthday']">
                    </ges-cars-datepicker-field>
                </div>
                <div class="col-md-6">
                    <ges-cars-field-text label="Lieu Naissance" [control]="form['lieuNaissance']"></ges-cars-field-text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-field-text label="CIN" [control]="form['cin']"></ges-cars-field-text>
                </div>
                <div class="col-md-6">
                    <ges-cars-field-text label="Ville CIN" [control]="form['villeCin']"></ges-cars-field-text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-field-text label="Ville Permis" [control]="form['villePermis']"></ges-cars-field-text>
                </div>
                <div class="col-md-6">
                    <ges-cars-datepicker-field label="Date Permis" [control]="form['datePermis']">
                    </ges-cars-datepicker-field>
                </div>
            </div>

            <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="onSubmit()"
                *ngIf="mode==='new'">Ajouter</button>
            <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="onSubmit()"
                *ngIf="mode==='edit'">Modifier</button>
        </form>
    </ges-cars-card>
</ges-cars-container>