<div class="table-responsive">

    <mat-paginator *ngIf="paginate" [length]="paginate.total" [pageIndex]="paginate.page" [pageSize]="paginate.count"
        [pageSizeOptions]="[10, 25,50, 100]" (page)="changePaginate($event)" aria-label="Select page">
    </mat-paginator>
    <table class="table">
        <thead *ngIf="dataSource &&  dataSource.columns">
            <tr>
                <th *ngFor="let col of dataSource.columns" [ngStyle]="{'width.px': col.width}"
                    (click)="paginate ? sortByAPI(col) : sort(col.key,col.type)">{{
                    col.title }}
                    <ng-container *ngIf="col.key === order.column">
                        <b class="caret {{order.order === 'ASC' ? '' : 'up' }}"></b>
                    </ng-container>

                </th>

                <th class="text-right" *ngIf="dataSource.mode.detail || dataSource.mode.edit || dataSource.mode.delete">
                </th>
            </tr>
        </thead>
        <tbody *ngIf="dataSource && data">
            <tr *ngFor="let row of data">
                <td *ngFor="let col of dataSource.columns">{{row[col.key]}}</td>


                <td class="td-actions text-right"
                    *ngIf="dataSource.mode.detail || dataSource.mode.edit || dataSource.mode.delete || dataSource.mode.create">
                    <button mat-raised-button type="button" class="btn btn-info btn-link" *ngIf="dataSource.mode.create"
                        (click)="handleCreate(row)">
                        <i class="material-icons">content_paste</i>
                    </button>
                    <button mat-raised-button type="button" class="btn btn-info btn-link" *ngIf="dataSource.mode.detail"
                        (click)="handleViewDetail(row)">
                        <i class="material-icons">visibility</i>
                    </button>
                    <button mat-raised-button type="button" class="btn btn-success btn-link"
                        *ngIf="dataSource.mode.edit" (click)="handleEdit(row)">
                        <i class="material-icons">edit</i>
                    </button>
                    <button mat-raised-button type="button" class="btn btn-danger btn-link"
                        *ngIf="dataSource.mode.delete" (click)="handleDelete(row)">
                        <i class="material-icons">close</i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tr *ngIf="data && !data.length">
            <td [colSpan]="dataSource ? dataSource.columns.length : 1" align="center" valign="center">pas de résultats
            </td>
        </tr>
    </table>
</div>