.dropdown-menu.dropdown-menu-right {
    margin-top: 20px;
}

.dropdown-menu.dropdown-menu-right.show {
    visibility: visible;
}

.notif-section {
    height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
}