.login-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 196px;
}

.error__container {
  margin-left: 54px;
}

.bmd-form-group {
  margin-bottom: 15px;
  display: block;
}
