<div class="card {{classes}}">
    <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
            <i class="material-icons">{{icon}}</i>
        </div>
        <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="search-input" *ngIf="withSearch">
        <mat-form-field>
            <input matInput placeholder="Recherche" [formControl]="search">
        </mat-form-field>
    </div>


    <div class="card-body">
        <ng-content></ng-content>
    </div>
</div>