<ges-cars-container>
    <ges-cars-card title="nouvelle agecnce" icon="assignment" classes="col-md-10">
        <form [formGroup]="agenceForm" class="row">
            <ges-cars-field-text label="Nom" class="col-md-6" [control]="form['name']"></ges-cars-field-text>
            <ges-cars-field-text label="Description" class="col-md-6" [control]="form['description']" class="col-md-6">
            </ges-cars-field-text>
            <ges-cars-field-text label="Adresse" class="col-md-6" [control]="form['adresse']" class="col-md-6">
            </ges-cars-field-text>
        </form>
    </ges-cars-card>
</ges-cars-container>