<ges-cars-container>
    <ges-cars-card [title]="getTitle" icon="account_balance" classes="col-md-10">
        <form [formGroup]="agenceForm">
            <div class="row pb-4">
                <div class="col-md-8">
                    <ges-cars-field-text label="Nom" [control]="form['name']"></ges-cars-field-text>
                    <ges-cars-field-text label="Description" [control]="form['description']" class="col-md-6">
                    </ges-cars-field-text>
                    <ges-cars-field-text label="Adresse" [control]="form['adresse']">
                    </ges-cars-field-text>
                </div>
                <div class="col-md-4  text-right">
                    <ges-cars-image-field [control]="form['logo']"></ges-cars-image-field>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-sm-12 col-lg-6">
                    <ges-cars-tag-field [control]="form['emails']" label="E-mail" placeholder="email"
                        secondaryPlaceholder="example: test@mail.com">
                    </ges-cars-tag-field>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <ges-cars-tag-field [control]="form['telephones']" label="Telephone" placeholder="tel"
                        secondaryPlaceholder="example: 0656783467">
                    </ges-cars-tag-field>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-sm-12 col-lg-6">
                    <ges-cars-tag-field [control]="form['faxs']" label="Fax" placeholder="fax"
                        secondaryPlaceholder="example: 0556783467"></ges-cars-tag-field>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <ges-cars-select-field [options]="users" [control]="form['users']" label="admins" [multiple]="true">
                    </ges-cars-select-field>
                </div>
            </div>

        </form>
        <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="onSubmit()"
            *ngIf="mode==='new'">Ajouter</button>
        <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="onSubmit()"
            *ngIf="mode==='edit'">Modeifier</button>
    </ges-cars-card>
</ges-cars-container>