<ges-cars-container>
    <ges-cars-card title="Ajouter Utilisateur" icon="person" classes="col-md-8">
        <form [formGroup]="userForm">
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-field-text label="Nom" [control]="form['firstname']"></ges-cars-field-text>
                </div>
                <div class="col-md-6">
                    <ges-cars-field-text label="Prénom" [control]="form['lastname']"></ges-cars-field-text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-field-text label="Telephone" [control]="form['telephone']"></ges-cars-field-text>
                </div>
                <div class="col-md-6">
                    <ges-cars-field-text label="Email address" [control]="form['email']"></ges-cars-field-text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ges-cars-select-field [options]="roles" [control]="form['role']" label="Rôle" [multiple]="true">
                    </ges-cars-select-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <ges-cars-field-text label="Mot de passe" [control]="form['password']"></ges-cars-field-text>
                </div>
                <div class="col-md-6">
                    <ges-cars-field-text label="Confirmer le Mot de passe" [control]="form['confirmPassword']">
                    </ges-cars-field-text>
                </div>
            </div>

            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                (click)="onSubmit()">Ajouter</button>
            <!-- <div class="clearfix"></div> -->
        </form>
    </ges-cars-card>
</ges-cars-container>