<mat-form-field *ngIf="control">
    <mat-select multiple [placeholder]="label" [formControl]="control" *ngIf="multiple">
        <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
        </mat-option>
    </mat-select>

    <mat-select [placeholder]="label" [formControl]="control" *ngIf="!multiple">
        <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>

<div class="error__container" *ngIf="control && control.touched && control.dirty && control.errors">
    <mat-error>
        {{getMessage()}}
    </mat-error>
</div>