<mat-form-field *ngIf="control">
    <mat-select multiple [placeholder]="label" [formControl]="control" *ngIf="multiple">
        <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
        </mat-option>
    </mat-select>

    <mat-select [placeholder]="label" [formControl]="control" *ngIf="!multiple">
        <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>