::ng-deep {

  .mat-option.mat-selected:hover,
  .mat-option:hover,
  .mat-option.mat-selected {
    background-color: #9c27b0 !important;
    color: #fff !important;
  }

  .mat-pseudo-checkbox-checked {
    background-color: transparent !important;
  }

  .mat-select-trigger {
    height: 12px !important;
    margin: 0;
  }

  .error .mat-form-field-underline {
    background-color: #f44336;
  }
}
