.doc-container {
  border: 1px dashed #949494;
  border-radius: 6px;
  position: relative;
  padding: 12px;
  margin-top: 30px;

  .doc-title {
    position: absolute;
    top: -12px;
    left: 30px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
  }
}
