<ges-cars-container>
    <ges-cars-card title="Nouvelle voiture" icon="drive_eta" classes="col-md-8">
        <form [formGroup]="carForm">
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-field-text label="Maruqe" [control]="form['marque']"></ges-cars-field-text>
                </div>
                <div class="col-md-6">
                    <ges-cars-field-text label="Model" [control]="form['model']"></ges-cars-field-text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-field-text label="Matricule" [control]="form['matricule']"></ges-cars-field-text>
                </div>
                <div class="col-md-6">
                    <ges-cars-select-field label="Carburant" [control]="form['carburant']" [options]="carburantTypes">
                    </ges-cars-select-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-select-field label="Statut" [control]="form['statut']" [options]="statusList">
                    </ges-cars-select-field>
                </div>
                <div class="col-md-6">
                    <ges-cars-field-text label="Description" [control]="form['description']"></ges-cars-field-text>
                </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                (click)="onSubmit()">Ajouter</button>
        </form>
    </ges-cars-card>
</ges-cars-container>

<!-- <form [formGroup]="userForm">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nom" type="text" formControlName="firstname">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Prénom" type="text" formControlName="lastname">
            </mat-form-field>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Telephone" type="tel" formControlName="telephone">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email address" type="email"
                    formControlName="email">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Rôle" name="role" formControlName="role">
                    <mat-option *ngFor="let role of roles" [value]="role.value">
                        {{ role.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Mot de passe" type="password"
                    formControlName="password">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Confirmer le Mot de passe"
                    formControlName="confirmPassword" type="password">
            </mat-form-field>
        </div>
    </div>

    <button mat-raised-button type="submit" class="btn btn-info pull-right"
        (click)="onSubmit()">Ajouter</button>
    <div class="clearfix"></div>
</form> -->