<ges-cars-container>
    <ges-cars-card title="Nouvelle voiture" icon="drive_eta" classes="col-md-10">
        <form [formGroup]="carForm">
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-select-field label="Agence" [control]="form['agence']" [options]="agenceList">
                    </ges-cars-select-field>
                </div>
                <div class="col-md-6">

                    <ges-cars-datepicker-field label="Date Vidange" [control]="form['dateVidange']">
                    </ges-cars-datepicker-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-field-text label="Maruqe" [control]="form['marque']"></ges-cars-field-text>
                </div>
                <div class="col-md-6">
                    <ges-cars-field-text label="Model" [control]="form['model']"></ges-cars-field-text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-field-text label="Matricule" [control]="form['matricule']"></ges-cars-field-text>
                </div>
                <div class="col-md-6">
                    <ges-cars-select-field label="Carburant" [control]="form['carburant']" [options]="carburantTypes">
                    </ges-cars-select-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-select-field label="Statut" [control]="form['statut']" [options]="statusList">
                    </ges-cars-select-field>
                </div>
                <div class="col-md-6">
                    <ges-cars-field-text label="Description" [control]="form['description']"></ges-cars-field-text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="doc-container">
                        <div class="doc-title">Carte Grise</div>
                        <ges-cars-datepicker-field label="Date Expertation"
                            [control]="form['carteGriseDateExpertation']">
                        </ges-cars-datepicker-field>
                        <ges-cars-image-field [control]="form['carteGriseImages']"> </ges-cars-image-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="doc-container">
                        <div class="doc-title">Autorisation Circulation</div>
                        <ges-cars-datepicker-field label="Date Expertation"
                            [control]="form['autorisationCirculationDateExpertation']">
                        </ges-cars-datepicker-field>
                        <ges-cars-image-field [control]="form['autorisationCirculationImages']"> </ges-cars-image-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="doc-container">
                        <div class="doc-title">Assurance</div>
                        <ges-cars-datepicker-field label="Date Expertation"
                            [control]="form['assuranceDateExpertation']">
                        </ges-cars-datepicker-field>
                        <ges-cars-image-field [control]="form['assuranceImages']"> </ges-cars-image-field>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="doc-container">
                        <div class="doc-title">Vignette</div>
                        <ges-cars-datepicker-field label="Date Expertation" [control]="form['vignetteDateExpertation']">
                        </ges-cars-datepicker-field>
                        <ges-cars-image-field [control]="form['vignetteImages']"> </ges-cars-image-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="doc-container">
                        <div class="doc-title">Visite</div>
                        <ges-cars-datepicker-field label="Date Expertation" [control]="form['visiteeDateExpertation']">
                        </ges-cars-datepicker-field>
                        <ges-cars-image-field [control]="form['visiteImages']"> </ges-cars-image-field>
                    </div>
                </div>

            </div>

            <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="onSubmit()"
                *ngIf="mode==='new'">Ajouter</button>
            <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="onSubmit()"
                *ngIf="mode==='edit'">Modifier</button>
        </form>
    </ges-cars-card>
</ges-cars-container>