<div class="fileinput fileinput-new text-center">
  <span
    class="material-icons close-icon"
    (click)="onRemove()"
    *ngIf="showRemove"
  >
    cancel
  </span>
  <div class="fileinput-new thumbnail fileinput-preview" (click)="onView(pdf)">
    <img [src]="file ? getFile(file) : avatar" alt="..." />
  </div>
  <div class="fileinput-actions" *ngIf="!viewMode">
    <span class="btn btn-rose btn-round btn-file">
      <span class="fileinput-new" *ngIf="!file">Select image</span>
      <span class="fileinput-new" *ngIf="file">Change</span>
      <input type="file" name="..." (change)="change($event)" />
    </span>
    <span class="btn btn-danger btn-round" *ngIf="file" (click)="onDelete()"
      ><i class="fa fa-times"></i> Remove</span
    >
    <span class="btn btn-success btn-round" *ngIf="file" (click)="onView(pdf)"
      ><i class="fa fa-eye"></i> Afficher</span
    >
  </div>
</div>
<a [href]="getFile(file)" class="d-none" target="_blank" #pdf></a>
