<ges-cars-container>
    <ges-cars-card [title]="getTitle" icon="drive_eta" classes="col-md-8">
        <form [formGroup]="reservationForm">

            <div class="row">
                <div class="col-md-6">
                    <ges-cars-select-field label="Client" [control]="form['client']" [options]="clientList">
                    </ges-cars-select-field>
                </div>
                <div class="col-md-6">
                    <ges-cars-select-field label="Agence" [control]="form['agence']" [options]="agenceList">
                    </ges-cars-select-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <ges-cars-select-field label="Voiture" [control]="form['car']" [options]="carList">
                    </ges-cars-select-field>
                </div>
                <div class="col-md-6">
                    <ges-cars-select-field label="Statut" [control]="form['statut']" [options]="resrvationStatutList">
                    </ges-cars-select-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ges-cars-select-field label="Paiment" [control]="form['paiement']" [options]="paimentTypes">
                    </ges-cars-select-field>
                </div>
                <div class="col-md-6">
                    <ges-cars-field-text label="Prix" [control]="form['price']"></ges-cars-field-text>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <ges-cars-datepicker-field label="Date debut" [control]="form['satrtAt']">
                    </ges-cars-datepicker-field>
                </div>
                <div class="col-md-6">
                    <ges-cars-datepicker-field label="Date Fin" [control]="form['endAt']">
                    </ges-cars-datepicker-field>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-md-6">
                    <ges-cars-datepicker-field label="Date Création" [control]="form['creatAt']">
                    </ges-cars-datepicker-field>
                </div>
                <div class="col-md-6">
                    <ges-cars-datepicker-field label="Date retour" [control]="form['backAt']">
                    </ges-cars-datepicker-field>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-6">
                    <ges-cars-select-field label="Chauffeur" [control]="form['chauffeur']" [options]="clientList">
                    </ges-cars-select-field>
                </div>
            </div>

            <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="onSubmit()"
                *ngIf="mode==='new'">Ajouter</button>
            <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="onSubmit()"
                *ngIf="mode==='edit'">Modifier</button>

            <!-- <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="btn.click()"
                *ngIf="mode==='detail' && reservation && reservation.file">Telecharger</button> -->
            <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="viewcontrat()"
                *ngIf="mode==='detail'">Afficher Contrat</button>
            <!-- <a href="{{urlContrat}}" #btn download={{reservation.file}}></a> -->
        </form>
    </ges-cars-card>
</ges-cars-container>